
<!-- Thing View: shows a list of all things -->
<div class="container" ng-controller="ServicesController as sC" ng-show="nC.pageId == 2">
  <ul class="card-list card-list-things">

    <div class="no-cards" ng-show="sC.things.length === 0">
      <div class="side">
        A service is an intangible object that Que can control.
        <span>Email, social networks, or other online services</span>
        <br/>
        <a href class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addServiceModal">Add a service</a>
      </div>
    </div>


    <!-- button to generate new key and add a thing -->
    <div
      class="add-button"
      ng-show="sC.things.length !== 0"
      data-toggle="modal"
      data-target="#addServiceModal">
      +
    </div>

    <div class="modal fade" id="addServiceModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">Add New Service</h4>
          </div>
          <div class="modal-body">
            <p>
              Enter this Authentication key below into the new service:
              <pre class="big">{{sC.authKey}}</pre>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" ng-click="sC.generateAuthKey()">Generate New Key</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



    <!-- each thing is listed here, in a card -->
    <div class="card"
      ng-repeat="thing in sC.things"
      ng-class="{above: sC.selectedThing == thing.id}"
      ng-mousedown="sC.selectThing(thing, $event)"
      >

      <div class="card-info">
        <img class="card-image" src="{{thing.image}}"/>
        <div class="card-body">
          <h3>{{thing.name}}</h3>
          <p>{{thing.desc}}</p>
        </div>
      </div>

      <span class="card-icons">
        <span class="pull-right card-icon glyphicon glyphicon glyphicon-remove" title="Remove Card" ng-click="sC.removeThing(thing.id, $index)"></span>
        <span class="pull-right card-icon card-move glyphicon glyphicon-resize-vertical" title="Move Card"></span>
      </span>

      <ul class="card-form clearfix">

        <!-- external page -->
        <li ng-show="thing.link">
          <a href="{{thing.link}}" class="btn btn-default btn-lg" style="width: 100%; margin-top: 10%;">
            Thing Page
          </a>
        </li>

        <li ng-repeat="(k, v) in thing.data">
          <label title="{{k}}">{{v.label || sC.convertIntoSpaces(k)}}</label>
          <input
            type="{{ sC.getTypeFor(v) }}"
            ng-model="v.value"
            ng-change="sC.updateThingData(thing.id, k, v)"
            ng-class="{'btn': sC.isButton(v), 'btn-primary': !v.readonly, 'btn-success': v.readonly &amp;&amp;v.value}"
            placeholder="{{k}}"
            value="{{sC.isButton(v) &amp;&amp; v.value}}"
            ng-disabled="v.readonly"
          />
        </li>
      </ul>

    </div>

  </ul>
</div>
