
<!-- Thing View: shows a list of all things -->
<div class="container" ng-controller="ThingsController as tC" ng-show="nC.pageId == 1">
  <!-- each thing is listed here, in a card -->
  <ul class="card-list card-list-things">

    <div class="no-cards" ng-show="tC.things.length === 0">
      <div class="side">
        A thing is a physical object that Que can control.
        <span>A garden, an Autofeeding pet dish, or a 3d Printer</span>
        <br/>
        <a href class="btn btn-success btn-lg" data-toggle="modal" data-target="#addThingModal">Add a thing</a>
      </div>
    </div>



    <!-- button to generate new key and add a thing -->
    <div
      class="add-button"
      ng-show="tC.things.length !== 0"
      data-toggle="modal"
      data-target="#addThingModal">
      +
    </div>

    <div class="modal fade" id="addThingModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">Add New Thing</h4>
          </div>
          <div class="modal-body">
            <p>
              Enter this Authentication key below into the new thing:
              <pre class="big">{{tC.authKey}}</pre>
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" ng-click="tC.generateAuthKey()">Generate New Key</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



    <div class="card"
      ng-repeat="thing in tC.things"
      ng-class="{above: tC.selectedThing == thing.id}"
      ng-mousedown="tC.selectThing(thing, $event)"
      >

      <div class="card-info">
        <img class="card-image" src="{{thing.image}}"/>
        <div class="card-body">
          <h3>{{thing.name}}</h3>
          <p>{{thing.desc}}</p>
        </div>
      </div>

      <span class="card-icons">
        <span class="pull-right card-icon glyphicon glyphicon glyphicon-remove" title="Remove Card" ng-click="tC.removeThing(thing.id, $index)"></span>
        <span class="pull-right card-icon card-move glyphicon glyphicon-resize-vertical" title="Move Card"></span>
      </span>

      <ul class="card-form clearfix">

        <!-- external page -->
        <li ng-show="thing.link">
          <a href="{{thing.link}}" class="btn btn-default btn-lg" style="width: 100%; margin-top: 10%;">
            Thing Page
          </a>
        </li>

        <li ng-repeat="(k, v) in thing.data">
          <label title="{{k}}">{{v.label || tC.convertIntoSpaces(k)}}</label>
          <input
            type="{{ tC.getTypeFor(v) }}"
            ng-model="v.value"
            ng-change="tC.updateThingData(thing.id, k, v)"
            ng-class="{'btn': tC.isButton(v), 'btn-primary': !v.readonly, 'btn-success': v.readonly &amp;&amp;v.value}"
            placeholder="{{k}}"
            value="{{tC.isButton(v) &amp;&amp; v.value}}"
            ng-disabled="v.readonly"
          />
        </li>
      </ul>

    </div>

  </ul>
</div>
