
<!-- Thing View: shows a list of all things -->
<div class="container" ng-controller="ThingsController as tC" ng-show="nC.pageId == 1">
  <!-- each thing is listed here, in a card -->
  <ul class="card-list card-list-things">

    <div class="no-cards" ng-show="tC.things.length === 0">
      <div class="side">
        A thing is a physical object that Que can control.
        <span>A garden, an Autofeeding pet dish, or a 3d Printer</span>
        <br/>
        <a href class="btn btn-success btn-lg" data-toggle="modal" data-target="#addThingModal">Add a thing</a>
      </div>
    </div>



    <!-- button to generate new key and add a thing -->
    <div
      class="add-button"
      ng-show="tC.things.length !== 0"
      data-toggle="modal"
      data-target="#addThingModal">
      +
    </div>

    <div class="modal fade" id="addThingModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">Add New Thing</h4>
          </div>
          <div class="modal-body">

            <!-- choose type -->
            <div class="thing-add page-1" ng-show="tC.newThing.dialogPage == 0">
              <p>
                <h3>New Thing Name</h3>
                <input type="text" class="form-control" placeholder="Thing Name" ng-model="tC.newThing.name"/>
              </p>
              <p>
                <h3>What is the type of the new thing?</h3>
                <select class="form-control" ng-model="tC.newThing.type">
                  <option value="spark">Spark</option>
                  <option value="manual">Custom...</option>
                </select>
              </p>
            </div>

            <!-- spark options -->
            <div class="thing-add page-2 page-spark" ng-show="tC.newThing.dialogPage == 1 && tC.newThing.type == 'spark'">
              <p>
                <h3>What is the spark's id?</h3>
                <input type="text" class="form-control" placeholder="Spark ID" ng-model="tC.newThing.id"/>
              </p>
            </div>

            <div class="thing-add page-3 page-spark" ng-show="tC.newThing.dialogPage == 2 && tC.newThing.type == 'spark'">
              <h3>What does each pin control?</h3>
              <p>
                Each pin can be mapped to one function. Please put its name into the corresponding box.
                Use a format like <code>cool-thing</code> or <code>coolThing</code>, but don't use <code>cool thing</code>.
              </p>

              <ul class="right">
                <li><input type="text" placeholder="Pin D7" ng-model="tC.newThing.pins.D7"/></li>
                <li><input type="text" placeholder="Pin D6" ng-model="tC.newThing.pins.D6"/></li>
                <li><input type="text" placeholder="Pin D5" ng-model="tC.newThing.pins.D5"/></li>
                <li><input type="text" placeholder="Pin D4" ng-model="tC.newThing.pins.D4"/></li>
                <li><input type="text" placeholder="Pin D3" ng-model="tC.newThing.pins.D3"/></li>
                <li><input type="text" placeholder="Pin D2" ng-model="tC.newThing.pins.D2"/></li>
                <li><input type="text" placeholder="Pin D1" ng-model="tC.newThing.pins.D1"/></li>
                <li><input type="text" placeholder="Pin D0" ng-model="tC.newThing.pins.D0"/></li>
              </ul>

              <ul class="left">
                <li><input type="text" placeholder="Pin A5" ng-model="tC.newThing.pins.A5"/></li>
                <li><input type="text" placeholder="Pin A4" ng-model="tC.newThing.pins.A4"/></li>
                <li><input type="text" placeholder="Pin A3" ng-model="tC.newThing.pins.A3"/></li>
                <li><input type="text" placeholder="Pin A2" ng-model="tC.newThing.pins.A2"/></li>
                <li><input type="text" placeholder="Pin A1" ng-model="tC.newThing.pins.A1"/></li>
                <li><input type="text" placeholder="Pin A0" ng-model="tC.newThing.pins.A0"/></li>
              </ul>
            </div>




          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>

            <button
              type="button"
              class="btn btn-default"
              ng-hide="tC.newThing.dialogPage == 0"
              ng-click="tC.addPrevPage()">
              <span class="glyphicon glyphicon-chevron-left"><span>
            </button>
            <button
              type="button"
              class="btn btn-primary"
              ng-hide="tC.newThing.dialogPage == tC.newThing.pageCt"
              ng-disabled="!tC.newThing.type"
              ng-click="tC.addNextPage()">
              Next
            </button>

            <button
              type="button"
              class="btn btn-primary"
              ng-show="tC.newThing.dialogPage == tC.newThing.pageCt"
              ng-click="tC.addFinish()">
              Finish
            </button>

          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <ul class="list-group">
      <li class="list-group-item thing" ng-repeat="thing in tC.things">
        <h3 tooltip data-toggle="tooltip" data-placement="left" title="Tags: {{thing.tags.join(', ')}}">
          {{thing.name}}
          <small>{{thing.desc}}</small>
        </h3>

        <button class="btn btn-danger pull-right" ng-click="tC.removeThing(thing.id, $index)">Delete</button>

        <!-- list of toggleable attributes -->
        <ul class="card-form clearfix edit-data">
          <li ng-repeat="(k, v) in thing.data">
            <label
              tooltip
              data-toggle="tooltip"
              data-placement="left"
              title="{{k}}"
              >
              {{v.label || tC.convertIntoSpaces(k)}}
            </label>
            <input
              type="{{ tC.getTypeFor(v) }}"
              ng-model="v.value"
              ng-change="tC.updateThingData(thing.id, k, v)"
              ng-class="{'btn': tC.isButton(v), 'btn-primary': !v.readonly, 'btn-success': v.readonly &amp;&amp;v.value}"
              placeholder="{{k}}"
              value="{{tC.isButton(v) &amp;&amp; v.value}}"
              ng-disabled="v.readonly"
              ng-hide="tC.getTypeFor(v) == 'canvas'"
            />
            <canvas ng-show="tC.getTypeFor(v) == 'canvas'" class="canvas-{{thing.id}}-{{k}}" style="width: {{v.width || '200px'}}; height: {{v.height || '100px'}};"></canvas>
          </li>
        </ul>

      </li>
    </ul>

    <!-- <div class="card"
      ng-repeat="thing in tC.things"
      ng-class="{above: tC.selectedThing == thing.id}"
      ng-mousedown="tC.selectThing(thing, $event)"
      >

      <div class="card-info">
        <img class="card-image" src="{{thing.image}}"/>
        <div class="card-body">
          <h3>{{thing.name}}</h3>
          <p>{{thing.desc}}</p>
        </div>
      </div>

      <span class="card-icons">
        <span class="pull-right card-icon glyphicon glyphicon glyphicon-remove" title="Remove Card" ng-click="tC.removeThing(thing.id, $index)"></span>
        <span class="pull-right card-icon card-move glyphicon glyphicon-resize-vertical" title="Move Card"></span>
      </span>

      <ul class="card-form clearfix">

        <li ng-show="thing.link">
          <a href="{{thing.link}}" class="btn btn-default btn-lg" style="width: 100%; margin-top: 10%;">
            Thing Page
          </a>
        </li>

        <li ng-repeat="(k, v) in thing.data">
          <label title="{{k}}">{{v.label || tC.convertIntoSpaces(k)}}</label>
          <input
            type="{{ tC.getTypeFor(v) }}"
            ng-model="v.value"
            ng-change="tC.updateThingData(thing.id, k, v)"
            ng-class="{'btn': tC.isButton(v), 'btn-primary': !v.readonly, 'btn-success': v.readonly &amp;&amp;v.value}"
            placeholder="{{k}}"
            value="{{tC.isButton(v) &amp;&amp; v.value}}"
            ng-disabled="v.readonly"
          />
        </li>
      </ul>

    </div> -->

  </ul>
</div>
