<div class="container dashboard-overview" ng-controller="DashboardController">

  <div class="col-md-9 first">

    <!-- no notifications -->
    <div ng-hide="notifications.length">
      <h1>No Notifications</h1>
    </div>

    <!-- a notification -->
    <div class="notif" ng-repeat="n in notifications">
      <button type="button" class="close" ng-click="dismiss(n.id)">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      <div class="title">{{n.title}}</div>
      <div class="body">{{n.body}}</div>
    </div>


  </div>

  <div class="col-md-3 second">
    <div class="pane">
      <h1>Details</h1>
      <ul class="body">
        <li>{{thingCount}} Thing(s)</li>
        <li>{{serviceCount}} Service(s)</li>
      </ul>
    </div>
  </div>
</div>
