<div class="que-setup">

  <h1>Welcome to Que!</h1>

  <section>
    <h2>New Admin User</h2>
    <p>
      We're going to create a superadmin user - you shouldn't need to log in
      as the superadmin unless you have problems down the road. Type in a really
      secure password, because the superadmin has permission to do anything.
    </p>
    <input type="text" placeholder="Password" />
  </section>

  <section>
    <h2>New user</h2>
    <input type="text" placeholder="Password" />
  </section>

</div>