
<!-- Thing View: shows a list of all things -->
<div class="container" ng-controller="RoomsController as rC">
  <ul class="card-list card-list-things">

    <div class="no-cards" ng-show="rC.rooms.length === 0">
      <div class="side">
        A rooms is an intangible object that Que can control.
        <span>Email, social networks, or other online services</span>
        <br/>
        <a
          href
          class="btn btn-primary btn-lg"
          data-toggle="modal"
          data-target="#addRoomModal"
          ng-show="nC.user.can('rooms.create')"
          >Add a room
        </a>
      </div>
    </div>


    <!-- button to generate new key and add a rooms -->
    <div
      class="add-button"
      ng-show="rC.rooms.length !== 0"
      data-toggle="modal"
      data-target="#addRoomModal"
      ng-show="nC.user.can('rooms.create')">
      +
    </div>

    <div class="modal fade" id="addRoomModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">Add New Room</h4>
          </div>
          <div class="modal-body">
            <input class="form-control" placeholder="Room Name" ng-model="rC.newRoom.name"/>
            <input class="form-control" placeholder="Room Description" ng-model="rC.newRoom.desc"/>
            <input class="form-control" placeholder="Room Tags (space seperated)" ng-model="rC.newRoom.tags"/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="rC.add()">Add</button>
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <ul class="list-group">
      <li class="list-group-item thing" ng-repeat="rooms in rC.rooms">
        <h3>
          {{rooms.name}}
          <small>{{rooms.desc}}</small>
        </h3>

        <button class="btn btn-danger pull-right" ng-click="rC.remove(rooms.id)">Delete</button>

        <ul class="scrollable">
          <li ng-repeat="th in rooms.things">
            <span class="title">
              {{th.thing.name}}
            </span>
            <button class="btn btn-danger btn-xs" ng-click="rC.removeThing(rooms.id, th.id, $index)">Delete</button>
          </li>
        </ul>

      </li>
    </ul>


  </ul>
</div>
