<div class="settings" ng-controller="SettingsController as sC">
  <section class="body" ng-show="nC.user.can('token.view')">
    <h3>
      <span class="glyphicon glyphicon-lock"></span>
      Keys
    </h3>
    <p>
      These keys are needed for 3rd party services (like the spark) to work.
    </p>
    <ul>
      <li>
        <label>Spark Key</label>
        <p>
          Go to <a href="//www.spark.io/build">http://www.spark.io/build</a>.
          Login with your spark account. Click the cog in the lower left corner of the screen
          and copy the text in the box under "Access Token". Enter this into the box below.
        </p>
        <div class="input-group together">
          <input
            type="text"
            class="form-control spark-key"
            placeholder="Spark Key"
            ng-model="sC.keys.sparktoken"
            ng-change="sC.updateKeys()"
            ng-disabled="!nC.user.can('token.edit')"
          />
          <span class="input-group-addon validated">
            <span class="glyphicon glyphicon-ok" ng-show="sC.validated.sparktoken"></span>
            <span class="glyphicon glyphicon-remove" ng-hide="sC.validated.sparktoken"></span>
          </span>
        </div>
      </li>
    </ul>
  </section>



</div>
