
<!-- Thing View: shows a list of all things -->
<div class="container" ng-controller="ThingsController as tC">
  <!-- each thing is listed here, in a card -->
  <ul class="card-list card-list-things">

    <div class="no-cards" ng-show="tC.things.length === 0">
      <div class="side">
        A thing is a physical object that Que can control.
        <span>A garden, an Autofeeding pet dish, or a 3d Printer</span>
        <br/>
        <a
          href
          class="btn btn-success btn-lg"
          data-toggle="modal"
          data-target="#addThingModal"
          ng-show="nC.user.can('thing.create')"
          >Add a thing
        </a>
      </div>
    </div>



    <!-- button to generate new key and add a thing -->
    <div
      class="add-button"
      ng-show="tC.things.length !== 0"
      data-toggle="modal"
      data-target="#addThingModal"
      ng-show="nC.user.can('thing.create')">
      +
    </div>

    <div class="modal fade" id="addThingModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">Add New Thing</h4>
          </div>
          <div class="modal-body">

            <!-- choose type -->
            <div class="thing-add page-1" ng-show="tC.newThing.dialogPage == 0">
              <p>
                <h3>Thing Information</h3>
                <div class="form-group">
                  <label>Name: </label>
                  <input type="text" class="form-control" placeholder="Thing Name" ng-model="tC.newThing.name"/>
                </div>
                <div class="form-group">
                  <label>Desc: </label>
                  <input type="text" class="form-control" placeholder="Thing Description" ng-model="tC.newThing.desc"/>
                </div>
                <div class="form-group">
                  <label>Tags: </label>
                  <input type="text" class="form-control" placeholder="Thing Tags" ng-model="tC.newThing.tags"/>
                </div>
              </p>
              <p>
                <h3>What is the type of the new thing?</h3>
                <select class="form-control" ng-model="tC.newThing.type">
                  <option value="spark">Spark</option>
                  <option value="actions">Custom Actions</option>
                  <option value="manual">Custom JSON</option>
                </select>
              </p>
            </div>

            <!-- spark options -->
            <div class="thing-add page-2 page-spark" ng-show="tC.newThing.dialogPage == 1 && tC.newThing.type == 'spark'">
              <p>
                <h3>What is the spark's id?</h3>
                <!-- textbox that shows validation for the spark token -->
                <div class="input-group together">
                  <input type="text" class="form-control" placeholder="Spark ID" ng-model="tC.newThing.id" ng-change="tC.validateSparkToken()"/>
                  <span class="input-group-addon validated">
                    <span class="glyphicon glyphicon-ok" ng-show="tC.sparktokenvalidated"></span>
                    <span class="glyphicon glyphicon-remove ng-hide" ng-hide="tC.sparktokenvalidated"></span>
                  </span>
                </div>
              </p>
            </div>

            <div class="thing-add page-3 page-spark" ng-show="tC.newThing.dialogPage == 2 && tC.newThing.type == 'spark'">
              <h3>What does each pin control?</h3>
              <p>
                Each pin can be mapped to one function. Please put its name into the corresponding box.
                Use a format like <code>cool-thing</code> or <code>coolThing</code>, but don't use <code>cool thing</code>.
              </p>

              <ul class="right">
                <li>
                  <input type="text" placeholder="Pin D7" ng-model="tC.newThing.pins.D7"/>
                  <div class="gpio-button" ng-show="tC.newThing.pins.D7">
                    <label>
                      <span>Output</span>
                      <input type="checkbox" ng-model="tC.newThing.pinMode.D7"/>
                    </label>
                  </div>
                </li>
                <li>
                  <input type="text" placeholder="Pin D6" ng-model="tC.newThing.pins.D6"/>
                  <div class="gpio-button" ng-show="tC.newThing.pins.D6">
                    <label>
                      <span>Output</span>
                      <input type="checkbox" ng-model="tC.newThing.pinMode.D6"/>
                    </label>
                  </div>
                </li>
                <li>
                  <input type="text" placeholder="Pin D5" ng-model="tC.newThing.pins.D5"/>
                  <div class="gpio-button" ng-show="tC.newThing.pins.D5">
                    <label>
                      <span>Output</span>
                      <input type="checkbox" ng-model="tC.newThing.pinMode.D5"/>
                    </label>
                  </div>
                </li>
                <li>
                  <input type="text" placeholder="Pin D4" ng-model="tC.newThing.pins.D4"/>
                  <div class="gpio-button" ng-show="tC.newThing.pins.D4">
                    <label>
                      <span>Output</span>
                      <input type="checkbox" ng-model="tC.newThing.pinMode.D4"/>
                    </label>
                  </div>
                </li>
                <li>
                  <input type="text" placeholder="Pin D3" ng-model="tC.newThing.pins.D3"/>
                  <div class="gpio-button" ng-show="tC.newThing.pins.D3">
                    <label>
                      <span>Output</span>
                      <input type="checkbox" ng-model="tC.newThing.pinMode.D3"/>
                    </label>
                  </div>
                </li>
                <li>
                  <input type="text" placeholder="Pin D2" ng-model="tC.newThing.pins.D2"/>
                  <div class="gpio-button" ng-show="tC.newThing.pins.D2">
                    <label>
                      <span>Output</span>
                      <input type="checkbox" ng-model="tC.newThing.pinMode.D2"/>
                    </label>
                  </div>
                </li>
                <li>
                  <input type="text" placeholder="Pin D1" ng-model="tC.newThing.pins.D1"/>
                  <div class="gpio-button" ng-show="tC.newThing.pins.D1">
                    <label>
                      <span>Output</span>
                      <input type="checkbox" ng-model="tC.newThing.pinMode.D1"/>
                    </label>
                  </div>
                </li>
                <li>
                  <input type="text" placeholder="Pin D0" ng-model="tC.newThing.pins.D0"/>
                  <div class="gpio-button" ng-show="tC.newThing.pins.D0">
                    <label>
                      <span>Output</span>
                      <input type="checkbox" ng-model="tC.newThing.pinMode.D0"/>
                    </label>
                  </div>
                </li>

                <script>
                  $(".gpio-button").on("click", function() {
                    var check = $(this).find("label").find("input");
                    $(this).find("span").html(check.prop('checked') ? "Input" : "Output");
                  });
                </script>

              </ul>

              <ul class="left">
                <li><input type="text" placeholder="Pin A5" ng-model="tC.newThing.pins.A5"/></li>
                <li><input type="text" placeholder="Pin A4" ng-model="tC.newThing.pins.A4"/></li>
                <li><input type="text" placeholder="Pin A3" ng-model="tC.newThing.pins.A3"/></li>
                <li><input type="text" placeholder="Pin A2" ng-model="tC.newThing.pins.A2"/></li>
                <li><input type="text" placeholder="Pin A1" ng-model="tC.newThing.pins.A1"/></li>
                <li><input type="text" placeholder="Pin A0" ng-model="tC.newThing.pins.A0"/></li>
              </ul>
            </div>

            <!-- custom http endpoints -->
            <div class="thing-add page-2 page-custom" ng-show="tC.newThing.dialogPage == 1 && tC.newThing.type == 'actions'">
              <p>
                <h3>
                  Custom Actions
                  <button class="btn btn-primary" ng-click="tC.customActions.push({trigger: {},detrigger: {}})">Add Action</button>
                </h3>

                <p>
                  If you've got a cool, custom thing that Que doesn't natively support,
                  this is the place to be. This page lets you manually add actions - each
                  with a trigger url (called when the action is enabled), and a detrigger
                  url (called when the action is disabled).
                </p>

                <div class="http-endpoint-action" ng-repeat="action in tC.customActions">
                  <input type="text" placeholder="Name" class="form-control" ng-model="action.name"/>
                  <div class="row" style="margin-top: 5px;">
                    <div class="col-md-3">
                      <select class="form-control" ng-model="action.trigger.method">
                        <option value="get" default>GET</option>
                        <option value="post">POST</option>
                        <option value="put">PUT</option>
                        <option value="patch">PATCH</option>
                        <option value="delete">DELETE</option>
                      </select>
                    </div>
                    <div class="col-md-9">
                      <input type="text" placeholder="HTTP Trigger URL" class="form-control" ng-model="action.trigger.url" />
                    </div>
                  </div>
                  <div class="row" style="margin-top: 5px;">
                    <div class="col-md-3">
                      <select class="form-control" ng-model="action.detrigger.method">
                        <option value="get" default>GET</option>
                        <option value="post">POST</option>
                        <option value="put">PUT</option>
                        <option value="patch">PATCH</option>
                        <option value="delete">DELETE</option>
                      </select>
                    </div>
                    <div class="col-md-9">
                      <input type="text" placeholder="HTTP Detrigger URL" class="form-control" ng-model="action.detrigger.url" />
                    </div>
                  </div>
                </div>

              </p>
            </div>

            <!-- custom json -->
            <div class="thing-add page-2 page-custom" ng-show="tC.newThing.dialogPage == 1 && tC.newThing.type == 'manual'">
              <p>
                <h3>Enter the custom thing json</h3>
                <textarea class="form-control" placeholder="Spark ID" ng-model="tC.customThing"></textarea>
              </p>
            </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>

            <button
              type="button"
              class="btn btn-default"
              ng-hide="tC.newThing.dialogPage == 0"
              ng-click="tC.addPrevPage()">
              <span class="glyphicon glyphicon-chevron-left"><span>
            </button>
            <button
              type="button"
              class="btn btn-primary"
              ng-hide="tC.newThing.dialogPage == tC.newThing.pageCt"
              ng-disabled="!tC.newThing.type || (tC.newThing.type === 'spark' && tC.newThing.dialogPage > 0 && !tC.sparktokenvalidated)"
              ng-click="tC.addNextPage()">
              Next
            </button>

            <button
              type="button"
              class="btn btn-primary"
              ng-show="tC.newThing.dialogPage == tC.newThing.pageCt"
              ng-click="tC.addFinish()">
              Finish
            </button>

          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <ul class="list-group">
      <li class="list-group-item thing" ng-repeat="thing in tC.things">
        <h3 tooltip data-toggle="tooltip" data-placement="left" title="Tags: {{thing.tags.join(', ')}}">
          {{thing.name}}
          <small>{{thing.desc}}</small>
        </h3>

        <button
          class="btn btn-primary pull-right"
          ng-click="tC.editMode = thing.id"
          ng-hide="tC.editMode === thing.id"
          ng-disabled="!nC.user.can('thing.edit.'+thing.id)"
          >
          Edit
        </button>
        <button class="btn btn-primary pull-right" ng-click="tC.editMode = false" ng-show="tC.editMode === thing.id">
          Done
        </button>

        <!-- delete thing -->
        <button
          class="btn btn-danger pull-right"
          ng-click="tC.removeThing(thing.id, $index)"
          ng-init="tC.editMode = false"
          ng-show="tC.editMode === thing.id"
          ng-disabled="!nC.user.can('thing.delete.'+thing.id)"
          >
          Delete Thing
        </button>

        <!-- add to room -->
        <span ng-controller="RoomsController as rC">
          <button
            class="btn btn-success pull-right"
            style="margin-right: 20px;"
            ng-click="rC.addToRoom(rC.getRoomId(roomToAdd), thing.name)"
            ng-show="tC.editMode === thing.id"
            ng-disabled="!nC.user.can('room.addthing.'+thing.id) || !roomToAdd"
            >
            Add to Room
          </button>
          <select
            type="text"
            class="form-control like-button pull-right"
            style="width: auto;"
            ng-show="tC.editMode === thing.id"
            ng-model="roomToAdd"
            ng-disabled="!nC.user.can('room.addthing.'+thing.id)">
            <option ng-repeat="item in rC.rooms">{{item.name}}</option>
          </select>
        </span>


        <!-- list of toggleable attributes -->
        <ul class="card-form clearfix edit-data">
          <li class="control" ng-repeat="(k, v) in thing.data" ng-show="nC.user.can('thing.control.read.'+k+'.'+thing.id)">
            <button
              class="btn btn-danger delete-control"
              ng-click="tC.deleteControl(thing.id, k)"
              ng-show="tC.editMode === thing.id"
              ng-disabled="!nC.user.can('thing.control.delete.'+thing.id)"
              >
              Delete
            </button>
            <label
              tooltip
              data-toggle="tooltip"
              data-placement="left"
              title="{{k}}"
              >
              {{v.label || tC.convertIntoSpaces(k)}}
            </label>
            <input
              type="{{ tC.getTypeFor(v) }}"
              ng-model="v.value"
              ng-change="tC.updateThingData(thing.id, k, v)"
              ng-class="{'btn': tC.isButton(v), 'btn-primary': !v.readonly, 'btn-success': v.readonly &amp;&amp;v.value}"
              placeholder="{{k}}"
              value="{{tC.isButton(v) &amp;&amp; v.value}}"
              ng-disabled="v.readonly || !nC.user.can('thing.control.write.'+k+'.'+thing.id)"
              ng-hide="tC.getTypeFor(v) == 'canvas'"
            />
            <canvas ng-show="tC.getTypeFor(v) == 'canvas'" class="canvas-{{thing.id}}-{{k}}" style="width: {{v.width || '200px'}}; height: {{v.height || '100px'}};"></canvas>
          </li>

          <!-- new control -->
          <li class="new-control row" ng-show="tC.editMode === thing.id">
            <div class="col-md-6">
              <input
                type="text"
                class="col-md-6"
                placeholder="Name"
                ng-model="tC.newControl.name"
                ng-disabled="!nC.user.can('thing.control.create.'+thing.id)"
              />
            </div>
            <div class="col-md-4">
              <select class="form-control" ng-model="tC.newControl.type" ng-disabled="!nC.user.can('thing.control.create.'+thing.id)">
                <option value="string" selected>String</option>
                <option value="bool">Button</option>
                <option value="number">Number</option>
                <option value="canvas">Canvas</option>
              </select>
            </div>
            <button
              class="col-md-2"
              ng-disabled="!(nC.user.can('thing.control.create.'+thing.id) && tC.newControl.type && tC.newControl.name)"
              ng-click="tC.addControl(thing.id)"
              >
              Add
            </button>
          </li>

        </ul>

      </li>
    </ul>

  </ul>
</div>
