// out: index.css, cgompress: true
@import url(//fonts.googleapis.com/css?family=Oxygen);
@import "../bootstrap/less/bootstrap.less";
@import "dashboard.less";

// page bg color
@bgcolor: #E9EDF0;

// top section colors
@top-color-yellow: #FCBD4B;
@top-color-red: #FC4B4B;
@top-color-blue: #4B86FC;
@top-color-green: #42BF3F;
@top-color-purple: #BF3F89;

body {
  height: 100%;
  background: @bgcolor;
  overflow-y: scroll;
}

// mixins
.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}

// custom imports
@import "material-button.less";

// the custom navbar
.navbar-que {
  min-height: 96px;

  .border-radius(0px);

  h1 { display: none; }

}

.navbar-que .container {
  height: 100%;
}

.navbar-que .navbar-header, .navbar-que .navbar-nav {
  padding-top: 17px;
}

.navbar-que .navbar-toggle {
  border: 0px;
  margin-top: 17px;
}

.navbar-que .navbar-collapse.in {
  margin-top: 15px;
  background: #FFF;
  z-index: 1000;
}

.navbar-que .navbar-collapse.collapsing {
  margin-top: 15px;
  background: #FFF;
}

.navbar-que .navbar-brand img {
  height: 64px;
  margin-top: -16px;
}

.navbar-que .navbar-brand {
  color: #FFF;
}

.navbar-que .navbar-nav {
  li a, a:hover {
    background: transparent;
    color: #000;
  }

  .active a, .active a:hover {
    font-weight: bold;
    background: transparent;
    color: #000;
  }
}

// styles to convert mobile -> desktop
@media (min-width: @screen-sm-min) {
  .navbar-que {
    height: 320px;

    .navbar-nav {
      li a, a:hover {
        color: #FFF;
      }

      .active a, .active a:hover {
        color: #FFF;
      }
    }

    .container {
      height: 96px;
    }

    h1 {
      text-align: center;
      color: #FFF;
      font-size: 350%;
      display: block;

      small {
        display: block;
        color: #fff;
        font-size: 40%;
        margin-top: 24px;
      }
    }


  }
}




// card list

ul.card-list {
  list-style-type: none;
  padding: 0px;
  margin: 0px 0px 20px 0px;
}

ul.card-list div.no-cards {
  height: 400px;
  margin: 0px auto;
  background-repeat: no-repeat;

  .side {
    // float: right;
    width: 250px;
    margin-right: 12px;
    margin-top: 20px;

    font-size: @font-size-base * 1.2;

    span {
      color: #444;
      font-size: 75%;
      display: block;
      margin-top: 5px;
      &:before { content: "Examples: "; }
    }
  }

  // styles to convert mobile -> desktop
  @media (min-width: @screen-sm-min) {
    background-image: url("../img/things-none.svg");
    width: 800px;
    .side {
      float: right;
    }
  }
}

// cards

.card {
  background: #FFF;
  border: 1px solid desaturate(#E9EDF0, 10%);
  box-shadow: 0px 2px 0px mix(#E9EDF0, #000, 95%);
  .border-radius(2px);

  display: inline-block;

  margin: 6px;
  // width: 296px;
  max-width: 100%;
  z-index: 0;
  min-height: 348px;

  position: relative;

  .card-badge {
    position: absolute;
    top: @padding-base-vertical;
    right: @padding-base-horizontal;
  }

  &.above {
    position: absolute;
    top: 0px;
    left: 0px;

    z-index: 100;
    opacity: 0.75;
  }

  .card-info {
    // float: left;
    border-left: 2px solid #EEE;

    .card-image {
      width: 294px;
      height: 220px;
      margin-left: 8px;
      &[src=''] {
        border: 0px;
        border-style: none;
      }
    }

    .card-body {
      padding: 20px;
      width: 294px;
    }
  }

  .card-icon {
    padding: 14px;
    cursor: pointer;
  }

  .card-form {
    display: block;
    // float: right;

    // padding: 20px 80px;
    padding: 20px 6px;
    // min-width: 800px;

    li {
      list-style-type: none;
      // width: 640px;
      // margin: 0px auto;
      margin: 0px;

      label {
        width: 320px;
        font-weight: normal;
        font-size: @font-size-large;
        display: block;

        &:after { content: ":"; }
      }

      input {
        // width: 300px;
        // width: 100%;
        display: inline-block;
        margin: @padding-small-vertical 0px;

        &[type=text], &[type=number], &[type=time], &[type=checkbox]{
          .form-control;
          width: 300px;
          display: inline-block;
        }

        &[type=checkbox] {
          appearance: none;
          -webkit-appearance: none;
          .btn;
          .btn-primary;

          &:before { content: "Off"; }

          &:checked {
            .btn-success;
            &:before { content: "On"; }
          }

        }
      }

    }
  }

  // styles to convert mobile -> desktop
  @media (min-width: @screen-sm-min) {
    width: 100%;

    .card-info {
      float: left;
      .card-image { margin-left: 0px; }
    }
    .card-form {
      float: right;
      padding: 20px 80px;
      min-width: 800px;

      li {
        width: 640px;
        margin: 0px auto;

        label {
          display: inline-block;
        }

        input {
          width: 300px;
          width: 100%;
        }
      }
    }
  }
}

pre.big {
  font-size: @font-size-base * 2;
}


// for the code blocks
.blocks {

  #addBlockModel input {
    margin: 10px 0px;
  }

  span.title {
    margin-top: 4px;
    font-size: @font-size-base * 1.75;
    small {
      font-size: 60%;
      color: @gray-light;
      margin-left: 10px;
    }
  }

  button {
    margin: 4px 0px 4px 10px;
    vertical-align: middle;
  }

  // screen that greets users with no blocks
  div.no-cards {
    height: 400px;
    margin: 0px auto;
    background-repeat: no-repeat;

    .side {
      // float: right;
      width: 250px;
      margin-right: 12px;
      margin-top: 20px;

      font-size: @font-size-base * 1.2;

      span {
        color: #444;
        font-size: 75%;
        display: block;
        margin-top: 5px;
        &:before { content: "Examples: "; }
      }
    }

    // styles to convert mobile -> desktop
    @media (min-width: @screen-sm-min) {
      background-image: url("../img/things-none.svg");
      width: 800px;
      .side {
        float: right;
      }
    }
  }

  li {
    min-height: 64px;

    .modal {
      textarea {
        .form-control;
        width: 100%;
        min-height: 300px;
        font-family: monospace;
        resize: vertical;
      }

      .block-name {
        display: inline;
      }

      input.block-name {
        .form-control;
        display: inline;
        width: 200px;
      }

      .log-space {
        .well;
        .well-sm;
        margin-top: 14px;
        max-height: 200px;
        height: 200px;
      }
    }
  }
}
