// main: index.less

@bg-color: #373737;
.settings {
  .container;
  position: relative;

  section.body {
    .make-md-column(12);
    .modal-style;
    background: #FFF;

    margin: 8px 0px;
    &:first-child { margin-top: 0px; }

    ul {
      padding-left: 0px;
      list-style-type: none;
    }
  }
}

// 'validating' textbox
.together {
  .form-control {
    border-right: 0px;
  }
}

// shows the validation status of any key entered
.validated {
  background: #FFF;
  .glyphicon-ok { color: #42BF3F; }
  .glyphicon-remove { color: #FC4B4B; }
}
