// main: index.less

@bg-color: #373737;
.settings {
  .container;
  position: relative;

  section.body {
    .make-md-column(12);
    .modal-style;
    background: #FFF;

    ul {
      padding-left: 0px;
      list-style-type: none;
    }
  }
}
